@import url('https://fonts.googleapis.com/css2?family=Public+Sans&display=swap');
@import url("https://fonts.googleapis.com/css2?family=Rubik:wght@400;500;700;900&display=swap");

/* CSS */
/*App.jsx*/
body {
    background-color: var(--color-light-blue);
}

.page-wrapper {
  font-family: 'Public Sans', sans-serif;
  display: grid;
  justify-content: center;
}

.leaflet-container {
    width: 280px;
    height: 150px;
}

#map { 
    height: 180px; 
    margin-left: 10px;
}

/*Home.jsx*/
.home {
    display: grid;
    justify-content: center;
}

.home___header {
    margin: 10px;
    padding: 10px;
    text-align: center;
    font-family: "Rubik", sans-serif;
}

.home___header h2{
    font-size: 30px;
    color: var(--color-dark-green);
}

.home___header p{
    font-size: 20px;
    padding: 10px;
    color: var(--color-dark-gray);
}

.home___header img {
    width: 90px;
    height: auto;
}

.home___search {
    display: grid;
    justify-content: center;
    text-align: center;
    margin-bottom: 10px;
}

.home___search input {
    width: 200px;
    height: 22px;
    margin: 5px;
    border-radius: 4px;
    border: 1px solid var(--color-dark-gray);
    padding: 5px;
    font-size: 16px;
}

.home___search select {
    -webkit-appearance: menulist-button;
    width: 200px;
    font-size: 16px;
    margin: 5px;
}

.home___results {
    display: grid;
}

.home___results a {
    text-decoration: none;
    color: black;
}

/*Details.jsx*/
.details {
    margin: 10px;
    padding: 10px;
    display: grid;
    justify-content: center;
}

.details__header {
    text-align: center;
    margin: 10px;
}

.details__header img {
    width: 90px;
}

.details__header h1 {
    margin: 10px;
}

.details__body {
    margin: 10px;
}

.details__body p {
    margin: 5px;
    font-size: 16px;
    font-weight: 100;
    color: var(--color-dark-green);
}

.details__body strong {
    color: rgb(27, 5, 126);
    font-style: italic;
}

.details___button {
    text-align: center;
    margin: 10px;
}

.btn--primary {
    padding: 5px;
    font-size: 18px;
    border: 2px solid rgb(9, 75, 48);
    color: rgb(9, 75, 48);
    font-weight: bold;
    border-radius: 8px;
    background-color: white;
}

/* CountryDetail.jsx */
.country-detail {
    margin: 10px;
    padding: 10px;
    background-color: var(--color-light-green);
    border-radius: 8px;
}

.country-detail__header {
    display: grid;
    justify-content: center;
    text-align: center;
}

.country-detail__header h3 {
    margin-top: 10px;
    font-size: 22px;
}

.country-detail__header img {
    width: 250px;
}

.country-detail__body {
    margin: 10px;
    padding: 10px;
}

.country-detail__body p{
    font-size: 16px;
}

/* Tablet */
@media screen and (min-width: 768px) {
    .home___results {
        grid-template-columns: 1fr 1fr;
    }

    .home___header img {
        width: 120px;
        height: auto;
    }

    .details__header img {
        width: 350px;
    }

    .btn--primary {
        font-size: 18px;
    }

    .leaflet-container {
        width: 350px;
        height: 200px;
    }
    
    #map { 
        height: 200px; 
        margin-left: 50px;
        margin-bottom: 10px;
    }
}

/* Desktop */
@media screen and (min-width: 1200px) {
    .home___results {
        grid-template-columns: 1fr 1fr 1fr;
    }

    .home___header img {
        width: 180px;
        height: auto;
    }
    
    .details__header img {
        width: 450px;
    }

    .home___header h2{
        font-size: 36px;
    }
    
    .home___header p{
        font-size: 24px;
    }

    .home___search input {
        width: 300px;
        height: 26px;
        font-size: 20px;
    }
    
    .home___search select {
        width: 300px;
        height: 26px;
    }

    .details__body p {
        margin: 10px;
        font-size: 18px;
    }

    .country-detail__body p{
        font-size: 18px;
    }

    .country-detail__header h3 {
        margin-top: 10px;
        font-size: 26px;
    }

    .leaflet-container {
        width: 450px;
        height: 250px;
    }
    
    #map { 
        height: 250px; 
        margin-left: 10px;
    }
}
